<style>
    /* SIDEBAR */
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: 5%;
        height: 100vh;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        z-index: 1100;
    }

    /* Adjusting content area to make room for the sidebar */
    .content {
        width: 95%;
        margin-left: 5%;
        height: calc(100vh - 6vh);
        overflow-y: auto;
        padding-top: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<body>
    <!-- SIDEBAR -->
    <div class="sidebar"></div>

    <!-- HEADER -->
    <div class="header-container">
        <div class="header-grid">
            {% for label in column_headers %}
                <div class="header-item">
                    <div class="circle-container">
                        <div class="circle dark-red" data-color="darkred"></div>
                        <div class="circle light-blue" data-color="lightblue"></div>
                        <div class="circle black" data-color="black"></div>
                        <div class="circle orange" data-color="orange"></div>
                    </div>
                    <div>{{ label }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- CONTENT -->
    <div class="content">
        {% for card in cards %}
        <div class="card">
            <div class="card-title">{{ card.title }}</div>
            <div class="card-labels">
                {% for label in labels %}
                <div>{{ label }}</div>
                {% endfor %}
            </div>
            <div class="card-content">
                {% for value in card.data %}
                <div>{{ value }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
